:root {
    --accent-white: #fff;
    --accent-black: #000;
    --accent-red: rgb(244, 24, 24);
    --accent-dark: #222222;
    --accent-dark-20: #191818;
    --accent-dark-30: #575656;
    --accent-gray-10: #777777;
    --accent-gray-20: #D9D9D9;
    --accent-gray-30: #F0F0F0;
}