@import '../../app//styles//mixin.scss';

.root-error {
    width: 100%;
    height: 100vh;
    @include flex-center;

    & div {
        @include flex-column;
    }

    p {
        text-align: center;
        font-size: 50px;
    }
}